# This is Git's per-user configuration file.
[user]
name = "Eisuke Sakai"
email = "13343596+esksak@users.noreply.github.com"

[alias]
st = status
co = checkout
difff = diff --word-diff

[core]
editor = /usr/bin/vi

[pull]
rebase = false
